<a href="https://colab.research.google.com/github/ssongplay/Manufacturing-System-lab/blob/main/02_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%26%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2))

In [3]:
print(len(inflation))

8

In [4]:
print(inflation)

0    2.2
1    3.4
2    2.8
3    1.6
4    2.3
5    2.7
6    3.4
7    3.2
dtype: float64

In [5]:
inflation.values[-1]

3.2

In [6]:
inflation.index.values

array([0, 1, 2, 3, 4, 5, 6, 7])

In [7]:
inflation.index = pd.Index(range(2010, 2018))

In [8]:
print(inflation.index)

RangeIndex(start=2010, stop=2018, step=1)

In [9]:
print(inflation.index.values)

[2010 2011 2012 2013 2014 2015 2016 2017]

In [10]:
print(inflation)

2010    2.2
2011    3.4
2012    2.8
2013    1.6
2014    2.3
2015    2.7
2016    3.4
2017    3.2
dtype: float64

In [11]:
from sklearn.datasets import load_iris

In [12]:
iris = load_iris()

In [13]:
type(iris)

sklearn.utils.Bunch

In [14]:
df = pd.DataFrame(
    {
        'sepal length' : iris.data[:, 0],
        'sepal width' : iris.data[:, 1],
        'petal length' : iris.data[:, 2],
        'petal width' : iris.data[:, 3],
        'species' : iris.target   
     
    }
)

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width',
       'species'],
      dtype='object')

In [17]:
df.head(10)

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0
5           5.4          3.9           1.7          0.4        0
6           4.6          3.4           1.4          0.3        0
7           5.0          3.4           1.5          0.2        0
8           4.4          2.9           1.4          0.2        0
9           4.9          3.1           1.5          0.1        0

In [18]:
df['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [19]:
df.species

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [20]:
df.iloc[:, 4]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [21]:
import numpy as np
df['petal length'][0, 2, 4] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
df.head

<bound method NDFrame.head of      sepal length  sepal width  petal length  petal width  species
0             5.1          3.5           NaN          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           NaN          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           NaN          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]>

In [23]:
df_new = df.dropna(axis=0)
print(df_new)

     sepal length  sepal width  petal length  petal width  species
1             4.9          3.0           1.4          0.2        0
3             4.6          3.1           1.5          0.2        0
5             5.4          3.9           1.7          0.4        0
6             4.6          3.4           1.4          0.3        0
7             5.0          3.4           1.5          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[147 rows x 5 columns]

In [24]:
df_new = df.dropna(axis=1)
print(df_new)

     sepal length  sepal width  petal width  species
0             5.1          3.5          0.2        0
1             4.9          3.0          0.2        0
2             4.7          3.2          0.2        0
3             4.6          3.1          0.2        0
4             5.0          3.6          0.2        0
..            ...          ...          ...      ...
145           6.7          3.0          2.3        2
146           6.3          2.5          1.9        2
147           6.5          3.0          2.0        2
148           6.2          3.4          2.3        2
149           5.9          3.0          1.8        2

[150 rows x 4 columns]

In [25]:
df.isnull()

     sepal length  sepal width  petal length  petal width  species
0           False        False          True        False    False
1           False        False         False        False    False
2           False        False          True        False    False
3           False        False         False        False    False
4           False        False          True        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [26]:
df.notnull()

     sepal length  sepal width  petal length  petal width  species
0            True         True         False         True     True
1            True         True          True         True     True
2            True         True         False         True     True
3            True         True          True         True     True
4            True         True         False         True     True
..            ...          ...           ...          ...      ...
145          True         True          True         True     True
146          True         True          True         True     True
147          True         True          True         True     True
148          True         True          True         True     True
149          True         True          True         True     True

[150 rows x 5 columns]

In [27]:
sl = df['petal length']
clean = sl.notnull()
print(clean)

0      False
1       True
2      False
3       True
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal length, Length: 150, dtype: bool

In [28]:
sl[-clean] = sl[clean].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
sl[clean].mean()

3.8068027210884376

In [30]:
print(sl)

0      3.806803
1      1.400000
2      3.806803
3      1.500000
4      3.806803
         ...
145    5.200000
146    5.000000
147    5.200000
148    5.400000
149    5.100000
Name: petal length, Length: 150, dtype: float64

In [31]:
df['petal length'][0, 2, 4] = np.nan
df = df.fillna(0)
print(df)

     sepal length  sepal width  petal length  petal width  species
0             5.1          3.5           0.0          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           0.0          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           0.0          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
df1 = pd.DataFrame(
    {
        'a':['a0', 'a1', 'a2', 'a3'],
        'b':['b0', 'b1', 'b2', 'b3'],
        'c':['c0', 'c1', 'c2', 'c3']
    },
    index = [0, 1, 2, 3]
)

df2 = pd.DataFrame(
    {
        'a':['a2', 'a3', 'a4', 'a5'],
        'b':['b2', 'b3', 'b4', 'b5'],
        'c':['c2', 'c3', 'c4', 'c5'],
        'd':['d2', 'd3', 'd4', 'd5'],
    },
    index = [2, 3, 4, 5]
)

In [33]:
df1

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [34]:
df2

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [35]:
result1 = pd.concat([df1, df2])
print(result1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [36]:
result1 = pd.concat([df1, df2], axis=1)
print(result1)

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

In [37]:
join = pd.merge(df1, df2, how='inner')
print(join)

    a   b   c   d
0  a2  b2  c2  d2
1  a3  b3  c3  d3

In [38]:
join = pd.merge(df1, df2, how='outer')
print(join)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [39]:
df.sort_values('sepal length')

     sepal length  sepal width  petal length  petal width  species
13            4.3          3.0           1.1          0.1        0
42            4.4          3.2           1.3          0.2        0
38            4.4          3.0           1.3          0.2        0
8             4.4          2.9           1.4          0.2        0
41            4.5          2.3           1.3          0.3        0
..            ...          ...           ...          ...      ...
122           7.7          2.8           6.7          2.0        2
118           7.7          2.6           6.9          2.3        2
117           7.7          3.8           6.7          2.2        2
135           7.7          3.0           6.1          2.3        2
131           7.9          3.8           6.4          2.0        2

[150 rows x 5 columns]

In [40]:
df['rank_min'] = df['sepal length'].rank(method = 'min')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min
0             5.1          3.5           0.0          0.2        0      33.0
1             4.9          3.0           1.4          0.2        0      17.0
2             4.7          3.2           0.0          0.2        0      10.0
3             4.6          3.1           1.5          0.2        0       6.0
4             5.0          3.6           0.0          0.2        0      23.0
..            ...          ...           ...          ...      ...       ...
145           6.7          3.0           5.2          2.3        2     123.0
146           6.3          2.5           5.0          1.9        2     100.0
147           6.5          3.0           5.2          2.0        2     116.0
148           6.2          3.4           5.4          2.3        2      96.0
149           5.9          3.0           5.1          1.8        2      81.0

[150 rows x 6 columns]

In [41]:
df['rank_max'] = df['sepal length'].rank(method = 'max')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0             5.1          3.5           0.0          0.2        0      33.0
1             4.9          3.0           1.4          0.2        0      17.0
2             4.7          3.2           0.0          0.2        0      10.0
3             4.6          3.1           1.5          0.2        0       6.0
4             5.0          3.6           0.0          0.2        0      23.0
..            ...          ...           ...          ...      ...       ...
145           6.7          3.0           5.2          2.3        2     123.0
146           6.3          2.5           5.0          1.9        2     100.0
147           6.5          3.0           5.2          2.0        2     116.0
148           6.2          3.4           5.4          2.3        2      96.0
149           5.9          3.0           5.1          1.8        2      81.0

     rank_max
0        41.0
1        22.0
2        11.0
3         9.0
4        32.0
..        ...
145     130.0
146     108.0
147     120.0
148      99.0
149      83.0

[150 rows x 7 columns]

In [42]:
df['rank_avg'] = df['sepal length'].rank(method = 'average')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0             5.1          3.5           0.0          0.2        0      33.0
1             4.9          3.0           1.4          0.2        0      17.0
2             4.7          3.2           0.0          0.2        0      10.0
3             4.6          3.1           1.5          0.2        0       6.0
4             5.0          3.6           0.0          0.2        0      23.0
..            ...          ...           ...          ...      ...       ...
145           6.7          3.0           5.2          2.3        2     123.0
146           6.3          2.5           5.0          1.9        2     100.0
147           6.5          3.0           5.2          2.0        2     116.0
148           6.2          3.4           5.4          2.3        2      96.0
149           5.9          3.0           5.1          1.8        2      81.0

     rank_max  rank_avg
0        41.0      37.0
1        22.0      19.5
2        11.0      10.5
3         9.0       7.5
4        32.0      27.5
..        ...       ...
145     130.0     126.5
146     108.0     104.0
147     120.0     118.0
148      99.0      97.5
149      83.0      82.0

[150 rows x 8 columns]

In [43]:
df.mean(axis=0)

sepal length     5.843333
sepal width      3.057333
petal length     3.730667
petal width      1.199333
species          1.000000
rank_min        73.000000
rank_max        78.000000
rank_avg        75.500000
dtype: float64

In [44]:
df.std()

sepal length     0.828066
sepal width      0.435866
petal length     1.812372
petal width      0.762238
species          0.819232
rank_min        43.668673
rank_max        43.176087
rank_avg        43.405803
dtype: float64

In [45]:
df['petal length'].max()

6.9

In [46]:
df['petal length'].sum()/150

3.730666666666667

In [47]:
df['species'] == 0

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [48]:
sum(df['species']==0)

50

In [49]:
df['species'].unique()

array([0, 1, 2])

In [50]:
sum(df['species'].unique())

3

In [51]:
df['new'] = df['petal length'] - df['petal width']

In [52]:
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0             5.1          3.5           0.0          0.2        0      33.0
1             4.9          3.0           1.4          0.2        0      17.0
2             4.7          3.2           0.0          0.2        0      10.0
3             4.6          3.1           1.5          0.2        0       6.0
4             5.0          3.6           0.0          0.2        0      23.0
..            ...          ...           ...          ...      ...       ...
145           6.7          3.0           5.2          2.3        2     123.0
146           6.3          2.5           5.0          1.9        2     100.0
147           6.5          3.0           5.2          2.0        2     116.0
148           6.2          3.4           5.4          2.3        2      96.0
149           5.9          3.0           5.1          1.8        2      81.0

     rank_max  rank_avg  new
0        41.0      37.0 -0.2
1        22.0      19.5  1.2
2        11.0      10.5 -0.2
3         9.0       7.5  1.3
4        32.0      27.5 -0.2
..        ...       ...  ...
145     130.0     126.5  2.9
146     108.0     104.0  3.1
147     120.0     118.0  3.2
148      99.0      97.5  3.1
149      83.0      82.0  3.3

[150 rows x 9 columns]

In [53]:
np.log(df['new'])

/usr/local/lib/python3.7/dist-packages/pandas/core/arraylike.py:364: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0           NaN
1      0.182322
2           NaN
3      0.262364
4           NaN
         ...
145    1.064711
146    1.131402
147    1.163151
148    1.131402
149    1.193922
Name: new, Length: 150, dtype: float64

In [54]:
iris_group = df.groupby('species')
print(iris_group.groups)

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 1: [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 2: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]}

In [55]:
iris_group.size()

species
0    50
1    50
2    50
dtype: int64

In [56]:
iris_group.mean()

,sepal length,sepal width,petal length,petal width,rank_min,rank_max,rank_avg,new
species,,,,,,,,
0,5.006,3.428,1.380,0.246,27.02,32.26,29.64,1.134
1,5.936,2.770,4.260,1.326,80.00,85.30,82.65,2.934
2,6.588,2.974,5.552,2.026,111.98,116.44,114.21,3.526