<a href="https://colab.research.google.com/github/ssongplay/Manufacturing-System-lab/blob/main/02_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%26%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
- Scikitlearn과 함께 파이썬의 대표적인 데이터분석 라이브러리
- 행과 열로 이루어진 데이터 객체를 만들고 다루는 용도로 활용
- 안정적으로 대용량 데이터 처리하는 데 매우 편리
- 대표적인 자료구조인 series(1차원 벡터)와 DataFrame(행과 열로 구성된 table)
- 데이터의 읽고쓰기는 우선 pandas부터!

In [1]:
import pandas as pd

# Series
- 1차원 벡터 (ex. 시간에 따른 서울 집값 상승, 한국 GDP 변화..)

In [2]:
inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2))
print(inflation)

0    2.2
1    3.4
2    2.8
3    1.6
4    2.3
5    2.7
6    3.4
7    3.2
dtype: float64

In [3]:
print(len(inflation))

8

In [4]:
print(inflation.values)

[2.2 3.4 2.8 1.6 2.3 2.7 3.4 3.2]

In [5]:
print(inflation.index.values)

[0 1 2 3 4 5 6 7]

In [6]:
inflation.values[-1]

3.2

In [7]:
# 기존의 숫자 대신 년도로 인덱스 바꾸기 가능
inflation.index = pd.Index(range(2010, 2018))

In [8]:
print(inflation.index)

RangeIndex(start=2010, stop=2018, step=1)

In [9]:
print(inflation.index.values)

[2010 2011 2012 2013 2014 2015 2016 2017]

In [10]:
print(inflation)

2010    2.2
2011    3.4
2012    2.8
2013    1.6
2014    2.3
2015    2.7
2016    3.4
2017    3.2
dtype: float64

# DataFrame
- 레이블이 붙은 행과 열로 구성된 table
- 엑셀과 가장 유사한 형태
- 데이터 전처리/머신러닝에 가장 최적화된 형태

In [11]:
from sklearn.datasets import load_iris

In [12]:
# 데이터 로드
iris = load_iris()

In [13]:
type(iris)

sklearn.utils.Bunch

In [14]:
# pandas DataFrame으로 만들기
df = pd.DataFrame(
    {
        'sepal length' : iris.data[:, 0],
        'sepal width' : iris.data[:, 1],
        'petal length' : iris.data[:, 2],
        'petal width' : iris.data[:, 3],
        'species' : iris.target   
     
    }
)

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
# 변수명의 확인은 .columns (초반에 제일 중요한 작업)
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width',
       'species'],
      dtype='object')

In [17]:
# 최상단 데이터 조회 
df.head(10)  #10개 조회

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0
5           5.4          3.9           1.7          0.4        0
6           4.6          3.4           1.4          0.3        0
7           5.0          3.4           1.5          0.2        0
8           4.4          2.9           1.4          0.2        0
9           4.9          3.1           1.5          0.1        0

In [18]:
# 특정 열 선택하기 (3가지 방법)
df['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [19]:
df.species

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [20]:
df.iloc[:, 4]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

# 삭제 - 데이터의 누락 (NaN) 다루기
- 대부분의 데이터는 완벽하지 않음
- 데이터 자체가 수집되지 않았거나 적절하지 않아서 버린 경우 등등 다양한 케이스 존재 
- 소수의 결측치 때문에 분석(모델링)이 주로 이루어지지 않음

In [21]:
import numpy as np
# iris 데이터에 결측치 만들기
df['sepal length'][3, 6, 9] = np.nan
df['petal length'][0, 2, 4] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [22]:
df.head

<bound method NDFrame.head of      sepal length  sepal width  petal length  petal width  species
0             5.1          3.5           NaN          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           NaN          0.2        0
3             NaN          3.1           1.5          0.2        0
4             5.0          3.6           NaN          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]>

In [23]:
# NaN이 포함된 행을 날려버리기 
df_drop = df.dropna(axis=0)
print(df_drop.head(20))
len(df_drop)

    sepal length  sepal width  petal length  petal width  species
1            4.9          3.0           1.4          0.2        0
5            5.4          3.9           1.7          0.4        0
7            5.0          3.4           1.5          0.2        0
8            4.4          2.9           1.4          0.2        0
10           5.4          3.7           1.5          0.2        0
11           4.8          3.4           1.6          0.2        0
12           4.8          3.0           1.4          0.1        0
13           4.3          3.0           1.1          0.1        0
14           5.8          4.0           1.2          0.2        0
15           5.7          4.4           1.5          0.4        0
16           5.4          3.9           1.3          0.4        0
17           5.1          3.5           1.4          0.3        0
18           5.7          3.8           1.7          0.3        0
19           5.1          3.8           1.5          0.3        0
20           5.4          3.4           1.7          0.2        0
21           5.1          3.7           1.5          0.4        0
22           4.6          3.6           1.0          0.2        0
23           5.1          3.3           1.7          0.5        0
24           4.8          3.4           1.9          0.2        0
25           5.0          3.0           1.6          0.2        0

144

In [24]:
# NaN이 포함된 열을 날려버리기 
df_drop = df.dropna(axis=1)
print(df_drop.head(20))
len(df_drop)

    sepal width  petal width  species
0           3.5          0.2        0
1           3.0          0.2        0
2           3.2          0.2        0
3           3.1          0.2        0
4           3.6          0.2        0
5           3.9          0.4        0
6           3.4          0.3        0
7           3.4          0.2        0
8           2.9          0.2        0
9           3.1          0.1        0
10          3.7          0.2        0
11          3.4          0.2        0
12          3.0          0.1        0
13          3.0          0.1        0
14          4.0          0.2        0
15          4.4          0.4        0
16          3.9          0.4        0
17          3.5          0.3        0
18          3.8          0.3        0
19          3.8          0.3        0

150

- 삭제보다 보정하는 것이 때론 의미 있음
- 이 보정이 적절한지 아닌지는 상황에 따라 다름

In [25]:
# 데이터에 NaN이 있는지 알아보기 (isnull)
df.isnull() # NaN이 있는 셀에 True 표시

     sepal length  sepal width  petal length  petal width  species
0           False        False          True        False    False
1           False        False         False        False    False
2           False        False          True        False    False
3            True        False         False        False    False
4           False        False          True        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [26]:
df.notnull()

     sepal length  sepal width  petal length  petal width  species
0            True         True         False         True     True
1            True         True          True         True     True
2            True         True         False         True     True
3           False         True          True         True     True
4            True         True         False         True     True
..            ...          ...           ...          ...      ...
145          True         True          True         True     True
146          True         True          True         True     True
147          True         True          True         True     True
148          True         True          True         True     True
149          True         True          True         True     True

[150 rows x 5 columns]

In [27]:
# 문제없는 데이터의 평균으로 NaN을 대체해보자
sl = df['sepal length']  # sepal length 보간
clean = sl.notnull()  # 문제 없는 데이터만 추출
print(clean)

0       True
1       True
2       True
3      False
4       True
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal length, Length: 150, dtype: bool

In [28]:
sl[-clean] = sl[clean].mean()  # 문제있는 데이터 -> 문제없는 데이터들의 평균으로 대체

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
sl[clean].mean()

5.866666666666668

In [30]:
print(sl)

0      5.100000
1      4.900000
2      4.700000
3      5.866667
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: sepal length, Length: 150, dtype: float64

In [31]:
# 빈 값을 특정 값으로 채우기 (fillna(val))
df['petal length'][0, 2, 4] = np.nan
df = df.fillna(0)
print(df)

     sepal length  sepal width  petal length  petal width  species
0        5.100000          3.5           0.0          0.2        0
1        4.900000          3.0           1.4          0.2        0
2        4.700000          3.2           0.0          0.2        0
3        5.866667          3.1           1.5          0.2        0
4        5.000000          3.6           0.0          0.2        0
..            ...          ...           ...          ...      ...
145      6.700000          3.0           5.2          2.3        2
146      6.300000          2.5           5.0          1.9        2
147      6.500000          3.0           5.2          2.0        2
148      6.200000          3.4           5.4          2.3        2
149      5.900000          3.0           5.1          1.8        2

[150 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

# 데이터 합치기
- 분석하는 데이터가 여러 데이터 프레임에 나누어 있을 경우
- 일대일/일대다/다대다

In [32]:
df1 = pd.DataFrame(
    {
        'a':['a0', 'a1', 'a2', 'a3'],
        'b':['b0', 'b1', 'b2', 'b3'],
        'c':['c0', 'c1', 'c2', 'c3']
    },
    index = [0, 1, 2, 3]
)

df2 = pd.DataFrame(
    {
        'a':['a2', 'a3', 'a4', 'a5'],
        'b':['b2', 'b3', 'b4', 'b5'],
        'c':['c2', 'c3', 'c4', 'c5'],
        'd':['d2', 'd3', 'd4', 'd5'],
    },
    index = [2, 3, 4, 5]
)

In [33]:
df1

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [34]:
df2

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

- Key 값을 기준으로 병합 (ex.학생들의 면담 정보, 학교 성적 정보가 따로 있다고 할때, 학번(key)을 기준으로 두개의 데이터셋 합침)
- pd.merge(df1, df2, on='key')
- merge는 key를 항상 참조 (DB SQL과 유사)

In [35]:
join = pd.merge(df1, df2, how='inner')  #교집합
print(join)

    a   b   c   d
0  a2  b2  c2  d2
1  a3  b3  c3  d3

In [36]:
join = pd.merge(df1, df2, how='outer')  #합집합
print(join)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

- 사이즈가 딱 맞을 때 물리적으로 행이나 열 붙이는 방법도 있음
- pd.concat([df1, df2], axis=0) # axis가 0이면 행 붙이기, 1이면 열 붙이기
- 맞지 않으면 NaN 정보를 넣음

In [37]:
result1 = pd.concat([df1, df2]) #axis=0, 행 방향
print(result1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [38]:
result1 = pd.concat([df1, df2], axis=1) #열 방향
print(result1)

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

# 데이터 정렬하기
- 특정 인덱스나 값을 활용하여 시리즈와 데이터프레임 정렬 가능

In [39]:
df.sort_values('sepal length')

     sepal length  sepal width  petal length  petal width  species
13            4.3          3.0           1.1          0.1        0
42            4.4          3.2           1.3          0.2        0
8             4.4          2.9           1.4          0.2        0
38            4.4          3.0           1.3          0.2        0
41            4.5          2.3           1.3          0.3        0
..            ...          ...           ...          ...      ...
122           7.7          2.8           6.7          2.0        2
118           7.7          2.6           6.9          2.3        2
117           7.7          3.8           6.7          2.2        2
135           7.7          3.0           6.1          2.3        2
131           7.9          3.8           6.4          2.0        2

[150 rows x 5 columns]

In [40]:
# 각 변수별로 순위 계산. 동점자 - 제일 작은 등수 기재
df['rank_min'] = df['sepal length'].rank(method = 'min')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min
0        5.100000          3.5           0.0          0.2        0      30.0
1        4.900000          3.0           1.4          0.2        0      15.0
2        4.700000          3.2           0.0          0.2        0       8.0
3        5.866667          3.1           1.5          0.2        0      78.0
4        5.000000          3.6           0.0          0.2        0      20.0
..            ...          ...           ...          ...      ...       ...
145      6.700000          3.0           5.2          2.3        2     123.0
146      6.300000          2.5           5.0          1.9        2     100.0
147      6.500000          3.0           5.2          2.0        2     116.0
148      6.200000          3.4           5.4          2.3        2      96.0
149      5.900000          3.0           5.1          1.8        2      81.0

[150 rows x 6 columns]

In [41]:
df['rank_max'] = df['sepal length'].rank(method = 'max')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0        5.100000          3.5           0.0          0.2        0      30.0
1        4.900000          3.0           1.4          0.2        0      15.0
2        4.700000          3.2           0.0          0.2        0       8.0
3        5.866667          3.1           1.5          0.2        0      78.0
4        5.000000          3.6           0.0          0.2        0      20.0
..            ...          ...           ...          ...      ...       ...
145      6.700000          3.0           5.2          2.3        2     123.0
146      6.300000          2.5           5.0          1.9        2     100.0
147      6.500000          3.0           5.2          2.0        2     116.0
148      6.200000          3.4           5.4          2.3        2      96.0
149      5.900000          3.0           5.1          1.8        2      81.0

     rank_max
0        38.0
1        19.0
2         9.0
3        80.0
4        29.0
..        ...
145     130.0
146     108.0
147     120.0
148      99.0
149      83.0

[150 rows x 7 columns]

In [42]:
df['rank_avg'] = df['sepal length'].rank(method = 'average')
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0        5.100000          3.5           0.0          0.2        0      30.0
1        4.900000          3.0           1.4          0.2        0      15.0
2        4.700000          3.2           0.0          0.2        0       8.0
3        5.866667          3.1           1.5          0.2        0      78.0
4        5.000000          3.6           0.0          0.2        0      20.0
..            ...          ...           ...          ...      ...       ...
145      6.700000          3.0           5.2          2.3        2     123.0
146      6.300000          2.5           5.0          1.9        2     100.0
147      6.500000          3.0           5.2          2.0        2     116.0
148      6.200000          3.4           5.4          2.3        2      96.0
149      5.900000          3.0           5.1          1.8        2      81.0

     rank_max  rank_avg
0        38.0      34.0
1        19.0      17.0
2         9.0       8.5
3        80.0      79.0
4        29.0      24.5
..        ...       ...
145     130.0     126.5
146     108.0     104.0
147     120.0     118.0
148      99.0      97.5
149      83.0      82.0

[150 rows x 8 columns]

In [43]:
df.mean(axis=0)  #column별 연산

sepal length     5.866667
sepal width      3.057333
petal length     3.730667
petal width      1.199333
species          1.000000
rank_min        73.046667
rank_max        77.953333
rank_avg        75.500000
dtype: float64

In [44]:
df.mean(axis=1)  #row별 연산

0      13.850000
1       7.562500
2       4.200000
3      30.958333
4      10.287500
         ...
145    49.837500
146    41.212500
147    46.587500
148    38.975000
149    32.975000
Length: 150, dtype: float64

In [45]:
df.std()

sepal length     0.811439
sepal width      0.435866
petal length     1.812372
petal width      0.762238
species          0.819232
rank_min        43.667034
rank_max        43.181113
rank_avg        43.406576
dtype: float64

In [46]:
df['petal length'].max()

6.9

In [47]:
df['petal length'].sum()/150

3.730666666666667

In [48]:
# Class가 setosa인 데이터의 개수를 세려면?
# 논리조건과 sum()을 이용하자
is_setosa = df['species'] == 0   # 0 is setosa, 1, 2 are virginica, versicolor
print(is_setosa)

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [49]:
sum(is_setosa)

50

In [50]:
# Class에 총 몇가지 종류가 있는가? -> unique함수
df['species'].unique()

array([0, 1, 2])

In [51]:
sum(df['species'].unique())

3

# 데이터의 변환 - 사칙연산
- 판다스는 자체적으로 사칙연산 지원
- 모양과 구조가 같은 데이터프레임, 시리즈 함수를 통해 연산할 수 있음

In [52]:
# iris 데이터의 각 변수들의 길이를 통해 연산
df['new_measure'] = (df['petal length'] + df['petal width']) / (df['sepal length']+df['sepal width'])
## 각 부위별 길이들의 합간의 비율 연산
print(df['new_measure'])

0      0.023256
1      0.202532
2      0.025316
3      0.189591
4      0.023256
         ...
145    0.773196
146    0.784091
147    0.757895
148    0.802083
149    0.775281
Name: new_measure, Length: 150, dtype: float64

In [53]:
print(df)

     sepal length  sepal width  petal length  petal width  species  rank_min  \
0        5.100000          3.5           0.0          0.2        0      30.0
1        4.900000          3.0           1.4          0.2        0      15.0
2        4.700000          3.2           0.0          0.2        0       8.0
3        5.866667          3.1           1.5          0.2        0      78.0
4        5.000000          3.6           0.0          0.2        0      20.0
..            ...          ...           ...          ...      ...       ...
145      6.700000          3.0           5.2          2.3        2     123.0
146      6.300000          2.5           5.0          1.9        2     100.0
147      6.500000          3.0           5.2          2.0        2     116.0
148      6.200000          3.4           5.4          2.3        2      96.0
149      5.900000          3.0           5.1          1.8        2      81.0

     rank_max  rank_avg  new_measure
0        38.0      34.0     0.023256
1        19.0      17.0     0.202532
2         9.0       8.5     0.025316
3        80.0      79.0     0.189591
4        29.0      24.5     0.023256
..        ...       ...          ...
145     130.0     126.5     0.773196
146     108.0     104.0     0.784091
147     120.0     118.0     0.757895
148      99.0      97.5     0.802083
149      83.0      82.0     0.775281

[150 rows x 9 columns]

In [54]:
np.log(df)

,sepal length,sepal width,petal length,petal width,species,rank_min,rank_max,rank_avg,new_measure
0,1.629241,1.252763,-inf,-1.609438,-inf,3.401197,3.637586,3.526361,-3.761200
1,1.589235,1.098612,0.336472,-1.609438,-inf,2.708050,2.944439,2.833213,-1.596859
2,1.547563,1.163151,-inf,-1.609438,-inf,2.079442,2.197225,2.140066,-3.676301
3,1.769287,1.131402,0.405465,-1.609438,-inf,4.356709,4.382027,4.369448,-1.662886
4,1.609438,1.280934,-inf,-1.609438,-inf,2.995732,3.367296,3.198673,-3.761200
...,...,...,...,...,...,...,...,...,...
145,1.902108,1.098612,1.648659,0.832909,0.693147,4.812184,4.867534,4.840242,-0.257223
146,1.840550,0.916291,1.609438,0.641854,0.693147,4.605170,4.682131,4.644391,-0.243230
147,1.871802,1.098612,1.648659,0.693147,0.693147,4.753590,4.787492,4.770685,-0.277211
148,1.824549,1.223775,1.686399,0.832909,0.693147,4.564348,4.595120,4.579852,-0.220543
149,1.774952,1.098612,1.629241,0.587787,0.693147,4.394449,4.418841,4.406719,-0.254530

In [55]:
np.exp(df)

,sepal length,sepal width,petal length,petal width,species,rank_min,rank_max,rank_avg,new_measure
0,164.021907,33.115452,1.000000,1.221403,1.000000,1.068647e+13,3.185593e+16,5.834617e+14,1.023528
1,134.289780,20.085537,4.055200,1.221403,1.000000,3.269017e+06,1.784823e+08,2.415495e+07,1.224499
2,109.947172,24.532530,1.000000,1.221403,1.000000,2.980958e+03,8.103084e+03,4.914769e+03,1.025640
3,353.070116,22.197951,4.481689,1.221403,1.000000,7.498417e+33,5.540622e+34,2.038281e+34,1.208755
4,148.413159,36.598234,1.000000,1.221403,1.000000,4.851652e+08,3.931334e+12,4.367318e+10,1.023528
...,...,...,...,...,...,...,...,...,...
145,812.405825,20.085537,181.272242,9.974182,7.389056,2.619517e+53,2.872650e+56,8.674650e+54,2.166680
146,544.571910,12.182494,148.413159,6.685894,7.389056,2.688117e+43,8.013164e+46,1.467662e+45,2.190415
147,665.141633,20.085537,181.272242,7.389056,7.389056,2.388691e+50,1.304181e+52,1.765017e+51,2.133779
148,492.749041,29.964100,221.406416,9.974182,7.389056,4.923458e+41,9.889030e+42,2.206541e+42,2.230182
149,365.037468,20.085537,164.021907,6.049647,7.389056,1.506097e+35,1.112864e+36,4.093997e+35,2.171202

# 데이터의 변환 - 집계
- 데이터의 집계는 데이터 분리 > 적용 > 결합 세단계로 구성
- Key 를 통한 분리 > 함수 적용 > 새로 산출한 결과를 새로운 프레임에 넣음

###  ✨ **groupby()**
- groupby()는 키 값을 기준으로 관측치들을 그룹으로 묶어 분리한 후, 해당 그룹에서의 통계량을 집계해줌
- ex) 연도별 매출액 평균, 총합?
- ex) iris 각 꽃 종류 별 통계량 평균? 편차?
- ex) 학년/학과 별 성적 평균?

In [56]:
iris_group = df.groupby('species')
print(iris_group.groups)

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 1: [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 2: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]}

In [57]:
iris_group.size()  # 그룹 별 개체수

species
0    50
1    50
2    50
dtype: int64

In [58]:
iris_group.mean()

,sepal length,sepal width,petal length,petal width,rank_min,rank_max,rank_avg,new_measure
species,,,,,,,,
0,5.076,3.428,1.380,0.246,28.92,33.92,31.42,0.191679
1,5.936,2.770,4.260,1.326,78.58,83.86,81.22,0.641256
2,6.588,2.974,5.552,2.026,111.64,116.08,113.86,0.793387